In [8]:
import pandas as pd
##GÖREV1
###§ Soru 1: persona.csv dosyasını okutunuz ve veri seti ile ilgili genel bilgileri gösteriniz.

df = pd.read_csv('persona.csv')
print(df.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5000 entries, 0 to 4999
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   PRICE    5000 non-null   int64
 1   SOURCE   5000 non-null   object
 2   SEX      5000 non-null   object
 3   COUNTRY  5000 non-null   object
 4   AGE      5000 non-null   int64
dtypes: int64(2), object(3)
memory usage: 234.4+ KB
None

In [10]:
###§ Soru 2: Kaç unique SOURCE vardır? Frekansları nedir?
source_counts = df['SOURCE'].value_counts()

print("Unique SOURCE sayısı:", len(source_counts))
print("\nFrekansları:")
print(source_counts)

Unique SOURCE sayısı: 2

Frekansları:
android    2974
ios        2026
Name: SOURCE, dtype: int64

In [11]:
###Kaç unique PRICE vardır
unique_prices = df['PRICE'].nunique()

print("Unique PRICE sayısı:", unique_prices)

Unique PRICE sayısı: 6

In [12]:
###§ Soru 4: Hangi PRICE'dan kaçar tane satış gerçekleşmiş?
price_counts = df['PRICE'].value_counts()
print("Satış sayıları:")
print(price_counts)

Satış sayıları:
29    1305
39    1260
49    1031
19     992
59     212
9      200
Name: PRICE, dtype: int64

In [13]:
###§ Soru 5: Hangi ülkeden kaçar tane satış olmuş?
country_counts = df['COUNTRY'].value_counts()
print("Ülke bazında satış sayıları:")
print(country_counts)

Ülke bazında satış sayıları:
usa    2065
bra    1496
deu     455
tur     451
fra     303
can     230
Name: COUNTRY, dtype: int64

In [14]:
###§ Soru 6: Ülkelere göre satışlardan toplam ne kadar kazanılmış?
revenue_by_country = df.groupby('COUNTRY')['PRICE'].sum()
print("Ülkelere göre toplam kazançlar:")
print(revenue_by_country)

Ülkelere göre toplam kazançlar:
COUNTRY
bra    51354
can     7730
deu    15485
fra    10177
tur    15689
usa    70225
Name: PRICE, dtype: int64

In [15]:
###§ Soru 7: SOURCE türlerine göre satış sayıları nedir?
sales_by_source = df['SOURCE'].value_counts()
print("SOURCE türlerine göre satış sayıları:")
print(sales_by_source)

SOURCE türlerine göre satış sayıları:
android    2974
ios        2026
Name: SOURCE, dtype: int64

In [16]:
###§ Soru 8: Ülkelere göre PRICE ortalamaları nedir?
average_price_by_country = df.groupby('COUNTRY')['PRICE'].mean()
print("Ülkelere göre PRICE (fiyat) ortalamaları:")
print(average_price_by_country)

Ülkelere göre PRICE (fiyat) ortalamaları:
COUNTRY
bra    34.327540
can    33.608696
deu    34.032967
fra    33.587459
tur    34.787140
usa    34.007264
Name: PRICE, dtype: float64

In [17]:
###§ Soru 9: SOURCE'lara göre PRICE ortalamaları nedir?
average_price_by_source = df.groupby('SOURCE')['PRICE'].mean()
print("SOURCE'lara göre PRICE (fiyat) ortalamaları:")
print(average_price_by_source)

SOURCE'lara göre PRICE (fiyat) ortalamaları:
SOURCE
android    34.174849
ios        34.069102
Name: PRICE, dtype: float64

In [18]:
###§ Soru 10: COUNTRY-SOURCE kırılımında PRICE ortalamaları nedir?
average_price_by_country_source = df.groupby(['COUNTRY', 'SOURCE'])['PRICE'].mean()
print("COUNTRY-SOURCE kırılımında PRICE (fiyat) ortalamaları:")
print(average_price_by_country_source)

COUNTRY-SOURCE kırılımında PRICE (fiyat) ortalamaları:
COUNTRY  SOURCE
bra      android    34.387029
         ios        34.222222
can      android    33.330709
         ios        33.951456
deu      android    33.869888
         ios        34.268817
fra      android    34.312500
         ios        32.776224
tur      android    36.229437
         ios        33.272727
usa      android    33.760357
         ios        34.371703
Name: PRICE, dtype: float64

In [19]:
###Görev 2: COUNTRY, SOURCE, SEX, AGE kırılımında ortalama kazançlar nedir
average_earnings_by_countrysourcesexage = df.groupby(['COUNTRY', 'SOURCE', 'SEX', 'AGE'])['PRICE'].mean()

print("COUNTRY, SOURCE, SEX, AGE kırılımında ortalama kazançlar:")
print(average_earnings_by_countrysourcesexage)

COUNTRY, SOURCE, SEX, AGE kırılımında ortalama kazançlar:
COUNTRY  SOURCE   SEX     AGE
bra      android  female  15     38.714286
                          16     35.944444
                          17     35.666667
                          18     32.255814
                          19     35.206897
                                   ...
usa      ios      male    42     30.250000
                          50     39.000000
                          53     34.000000
                          55     29.000000
                          59     46.500000
Name: PRICE, Length: 348, dtype: float64

In [20]:
###Görev 3: Çıktıyı PRICE’a göre sıralayınız.
###• Önceki sorudaki çıktıyı daha iyi görebilmek için sort_values metodunu azalan olacak şekilde PRICE’a göre uygulayınız.
###• Çıktıyı agg_df olarak kaydediniz.
average_earnings_by_countrysourcesexage = df.groupby(['COUNTRY', 'SOURCE', 'SEX', 'AGE'])['PRICE'].mean()
agg_df = average_earnings_by_countrysourcesexage.sort_values(ascending=False)
print("COUNTRY, SOURCE, SEX, AGE kırılımında ortalama kazançlar (azalan sıralı):")
print(agg_df)

COUNTRY, SOURCE, SEX, AGE kırılımında ortalama kazançlar (azalan sıralı):
COUNTRY  SOURCE   SEX     AGE
bra      android  male    46     59.0
usa      android  male    36     59.0
fra      android  female  24     59.0
usa      ios      male    32     54.0
deu      android  female  36     49.0
                                 ...
usa      ios      female  38     19.0
                          30     19.0
can      android  female  27     19.0
fra      android  male    18     19.0
deu      android  male    26      9.0
Name: PRICE, Length: 348, dtype: float64

In [21]:
###Görev 4: Indekste yer alan isimleri değişken ismine çeviriniz.
###• Üçüncü sorunun çıktısında yer alan PRICE dışındaki tüm değişkenler index isimleridir. Bu isimleri değişken isimlerine çeviriniz.
average_earnings_by_countrysourcesexage = df.groupby(['COUNTRY', 'SOURCE', 'SEX', 'AGE'])['PRICE'].mean()
agg_df = average_earnings_by_countrysourcesexage.sort_values(ascending=False)
agg_df = agg_df.reset_index()
print("COUNTRY, SOURCE, SEX, AGE kırılımında ortalama kazançlar (azalan sıralı):")
print(agg_df)

COUNTRY, SOURCE, SEX, AGE kırılımında ortalama kazançlar (azalan sıralı):
    COUNTRY   SOURCE     SEX  AGE  PRICE
0       bra  android    male   46   59.0
1       usa  android    male   36   59.0
2       fra  android  female   24   59.0
3       usa      ios    male   32   54.0
4       deu  android  female   36   49.0
..      ...      ...     ...  ...    ...
343     usa      ios  female   38   19.0
344     usa      ios  female   30   19.0
345     can  android  female   27   19.0
346     fra  android    male   18   19.0
347     deu  android    male   26    9.0

[348 rows x 5 columns]

In [22]:
###Görev 5: Age değişkenini kategorik değişkene çeviriniz ve agg_df’e ekleyiniz.
###• Age sayısal değişkenini kategorik değişkene çeviriniz.
###• Aralıkları ikna edici şekilde oluşturunuz.
###• Örneğin: ‘0_18', ‘19_23', '24_30', '31_40', '41_70'
average_earnings_by_countrysourcesexage = df.groupby(['COUNTRY', 'SOURCE', 'SEX', 'AGE'])['PRICE'].mean()
agg_df = average_earnings_by_countrysourcesexage.sort_values(ascending=False)
agg_df = agg_df.reset_index()
bins = [0, 18, 23, 30, 40, 70]
labels = ['0_18', '19_23', '24_30', '31_40', '41_70']
agg_df['AGE_GROUP'] = pd.cut(agg_df['AGE'], bins=bins, labels=labels, right=False)
agg_df.drop(columns=['AGE'], inplace=True)
print("COUNTRY, SOURCE, SEX, AGE_GROUP kırılımında ortalama kazançlar (azalan sıralı):")
print(agg_df)

COUNTRY, SOURCE, SEX, AGE_GROUP kırılımında ortalama kazançlar (azalan sıralı):
    COUNTRY   SOURCE     SEX  PRICE AGE_GROUP
0       bra  android    male   59.0     41_70
1       usa  android    male   59.0     31_40
2       fra  android  female   59.0     24_30
3       usa      ios    male   54.0     31_40
4       deu  android  female   49.0     31_40
..      ...      ...     ...    ...       ...
343     usa      ios  female   19.0     31_40
344     usa      ios  female   19.0     31_40
345     can  android  female   19.0     24_30
346     fra  android    male   19.0     19_23
347     deu  android    male    9.0     24_30

[348 rows x 5 columns]

In [28]:
###Görev 6: Yeni seviye tabanlı müşterileri (persona) tanımlayınız.
###• Yeni seviye tabanlı müşterileri (persona) tanımlayınız ve veri setine değişken olarak ekleyiniz.
###• Yeni eklenecek değişkenin adı: customers_level_based
###• Önceki soruda elde edeceğiniz çıktıdaki gözlemleri bir araya getirerek customers_level_based değişkenini oluşturmanız gerekmektedi
average_earnings_by_countrysourcesexage = df.groupby(['COUNTRY', 'SOURCE', 'SEX', 'AGE'])['PRICE'].mean()
# "customers_level_based" adlı yeni değişkeni oluşturuyoruz
agg_df['customers_level_based'] = agg_df['COUNTRY'].astype(str) + '_' + agg_df['SOURCE'].astype(str) + '_' + agg_df['SEX'].astype(str) + '_' + agg_df['AGE_GROUP'].astype(str)
print("customers_level_based değişkeni oluşturuldu:")
print(agg_df)

customers_level_based değişkeni oluşturuldu:
    COUNTRY   SOURCE     SEX  PRICE AGE_GROUP     customers_level_based
0       bra  android    male   59.0     41_70    bra_android_male_41_70
1       usa  android    male   59.0     31_40    usa_android_male_31_40
2       fra  android  female   59.0     24_30  fra_android_female_24_30
3       usa      ios    male   54.0     31_40        usa_ios_male_31_40
4       deu  android  female   49.0     31_40  deu_android_female_31_40
..      ...      ...     ...    ...       ...                       ...
343     usa      ios  female   19.0     31_40      usa_ios_female_31_40
344     usa      ios  female   19.0     31_40      usa_ios_female_31_40
345     can  android  female   19.0     24_30  can_android_female_24_30
346     fra  android    male   19.0     19_23    fra_android_male_19_23
347     deu  android    male    9.0     24_30    deu_android_male_24_30

[348 rows x 6 columns]

In [29]:
###Görev 7:  Yeni müşterileri (personaları) segmentlereayırınız.•Yeni müşterileri (Örnek: USA_ANDROID_MALE_0_18) PRICE’agöre 4 segmenteayırınız.•SegmentleriSEGMENTisimlendirmesi ile değişken olarak agg_df’eekleyiniz.•Segmentleribetimleyiniz (Segmentleregöre groupbyyapıp pricemean, max, sum’larınıalınız).
segment_labels = ['SEGMENT_1', 'SEGMENT_2', 'SEGMENT_3', 'SEGMENT_4']
agg_df['SEGMENT'] = pd.qcut(agg_df['PRICE'], q=4, labels=segment_labels)
segment_stats = agg_df.groupby('SEGMENT')['PRICE'].agg(['mean', 'max', 'sum'])
print("Segmentlere göre istatistikler:")
print(segment_stats)

Segmentlere göre istatistikler:
                mean        max          sum
SEGMENT
SEGMENT_1  27.302596  31.105263  2375.325850
SEGMENT_2  32.933339  34.000000  3128.667165
SEGMENT_3  35.436170  37.000000  2870.329792
SEGMENT_4  41.434736  59.000000  3521.952577

In [33]:
age_group_turkish_female_android = agg_df[(agg_df['AGE_GROUP'] == '31_40') & (agg_df['SOURCE'] == 'ANDROID') & (agg_df['COUNTRY'] == 'TUR') & (agg_df['SEX'] == 'FEMALE')]
if not age_group_turkish_female_android.empty:
    segment_turkish_female_android = age_group_turkish_female_android['SEGMENT'].iloc[0]
    average_income_turkish_female_android = age_group_turkish_female_android['PRICE'].mean()
    print("33 yaşında ANDROID kullanan bir Türk kadını segmente aittir:", segment_turkish_female_android)
    print("Ortalama gelir kazandırması beklenen miktar:", average_income_turkish_female_android)
else:
    print("33 yaşında ANDROID kullanan bir Türk kadını için uygun segment bulunamadı.")

# 35 yaşında IOS kullanan bir Fransız kadının segmentini ve ortalama gelir kazandırması beklenen miktarı tahmin edelim
age_group_french_female_ios = agg_df[(agg_df['AGE_GROUP'] == '31_40') & (agg_df['SOURCE'] == 'IOS') & (agg_df['COUNTRY'] == 'FRA') & (agg_df['SEX'] == 'FEMALE')]
if not age_group_french_female_ios.empty:
    segment_french_female_ios = age_group_french_female_ios['SEGMENT'].iloc[0]
    average_income_french_female_ios = age_group_french_female_ios['PRICE'].mean()
    print("35 yaşında IOS kullanan bir Fransız kadını segmente aittir:", segment_french_female_ios)
    print("Ortalama gelir kazandırması beklenen miktar:", average_income_french_female_ios)
else:
    print("35 yaşında IOS kullanan bir Fransız kadını için uygun segment bulunamadı.")

33 yaşında ANDROID kullanan bir Türk kadını için uygun segment bulunamadı.
35 yaşında IOS kullanan bir Fransız kadını için uygun segment bulunamadı.